.StaticData {
  background-color: rgb(20, 72, 118);
  font-family: Arial, Helvetica, sans-serif;
  
  div {
    display: flex;
    flex-direction: column;
    
  }

  a, p {
    margin: auto;
  }

  a {
    padding: 5px 3px;
  }

  .hover:hover {
    transform: scale(1.2);
  }

  .whoami {
    margin: auto;
    padding-top: 5vh;
    margin-left: -4px;
    font-size: 90px;
  }

  .title {
    font-size: 30px;
    padding-bottom: 5px;
  }

  .socialSVGS {
    padding: 10px;
    height: 50px;
    width: 50px;
  }
  .socialSVG:hover {
    background-color: white;
  }

  .socialsBox {
    display: block;
  }
}
