html {
  background-color: rgb(20, 72, 118);
}

div {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
}

a, p {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  color: white;
}

a {
  padding: 5px;
}

.whoami {
  font-size: 90px;
}

.title {
  font-size: 30px;
  padding-bottom: 5px;
}

