.ProjectCard {
  margin: 20px 0px;
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;

  * {
    padding: 3px 0px;
  }

  hr {
    border: solid black 2px;
    color: black;
    background-color: black;
    margin: 0px 10px 10px 0px;
  }

  h1 {
    font-size: 50px;
    font-weight: 700;
  }

  img {
    padding: 0;
  }

  .projectImage {
    width: 500px;
    margin-right: 10px;
  }

  .bigger {
    font-weight: 900;
  }
  
  .title {
    font-size: 40px;
    font-weight: 700;
  }


  @media only screen and (max-width: 1200px) {
    .projectImage {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .ProjectCard {
    flex-direction: column;
  }
}
